</div>
<footer>
  <p>
    <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">
      <i class="fa fa-copyright"></i>
      YelpCamp GNU License
    </a> | <a href="/campgrounds"> Home </a> | <a href="/campgrounds/new">New Campground</a></p>
</footer>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>