<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yelp Camp</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">YelpCamp</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if(!currentUser){ %>
          <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
          <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
          <% } else { %>
          <li><a href=<%= '/users/' + currentUser.id %>>Signed in as <%= currentUser.username %></a></li>
          <li><a href="/logout">Logout</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>


  <% if (error && error.length > 0) { %>
  <div class="container">
    <div class="alert alert-danger" role="alert"> <%= error %> </div>
  </div>
  <% } %>
  <% if (success && success.length > 0) { %>
  <div class="container">
    <div class="alert alert-success" role="alert"> <%= success %> </div>
  </div>
  <% } %>
  <div class="container page-container">
    <div class="content-wrap">