<%- include('../partials/header') %>


<div class="row">
  <h1 style="text-align: center">Edit Comment</h1>

  <div style="width: 30%; margin: 25px auto">
    <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
      <div class="form-group">
        <textarea class="form-control" name="comment[text]" placeholder="comment"><%= comment.text %></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-default btn-block">Submit!</button>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>

</div>

<%- include('../partials/footer') %>