<%- include('../partials/header') %>


<div class="row">
  <h1 style="text-align: center">Add New Comment to <%= campground.name %> </h1>

  <div style="width: 30%; margin: 25px auto">
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <div class="form-group">
        <textarea class="form-control" name="comment[text]"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-default btn-block">Submit!</button>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>

</div>

<%- include('../partials/footer') %>