<%- include("./partials/header") %>

<div class="container" style="width: 30%; margin: 25px auto">
  <div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <form class="" action="/register" method="POST">
      <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="john@doe.com">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="username">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="password">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="firstName" placeholder="first name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="lastName" placeholder="last name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="avatar" placeholder="avatar url">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="adminCode" placeholder="admin code">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<%- include("./partials/footer") %>