<%- include('../partials/header') %>


<div class="row">
  <h1 style="text-align: center">Edit <%= campground.name %></h1>

  <div style="width: 30%; margin: 25px auto">
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>" placeholder="name" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>" placeholder="image url" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="campground[price]" value="<%= campground.price %>" min="0.01" step="0.01" placeholder="price" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="campground[description]" value="<%= campground.description %>" placeholder="description" required>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-default btn-block">Submit!</button>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>

</div>

<%- include('../partials/footer') %>