<%- include('../partials/header') %>

<header class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-campground"></i> Welcome To Yelp Camp</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
    </p>
  </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
  <% campgrounds.forEach((campground) => { %>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail thumbnail-css">
      <img src="<%= campground.image %>" alt="campground image">
      <div class="caption">
        <h4><%=campground.name%></h4>
        <% if (campground.rating === 0) { %>
        <em>No reviews yet</em>
        <% } else { %>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
        <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
        <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
        <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
        <% } %>
      </div>
      <p>
        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">More info</a>
      </p>
    </div>
  </div>
  <% }); %>
</div>

<%- include('../partials/footer') %>