<%- include('../partials/header') %>


<div class="row">
  <h1 style="text-align: center">Create a New Campground</h1>
  <div style="width: 30%; margin: 25px auto">
    <form action="/campgrounds" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input class="form-control" type="text" name="name" placeholder="name" required>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" accept="image/*" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="number" min="0.01" name="price" step="0.01" placeholder="price" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="description" placeholder="description" required>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-default btn-block">Submit!</button>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>

</div>

<%- include('../partials/footer') %>