<%- include("../partials/header"); %>

<div class="row">
  <div class="col-md-3">
    <p class="lead">YelpCamp</p>
    <div class="list-grup">
      <li class="list-group-item active">Info 1</li>
      <li class="list-group-item">Info 2</li>
      <li class="list-group-item">Info 3</li>
    </div>
  </div>
  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= campground.image %>" alt="campground image">
      <div class="caption-full">
        <h4 class="pull-right"><%= campground.price %>€/night</h4>
        <h4><a href="#"><%= campground.name %></a></h4>
        <p> <%= campground.description %> </p>
        <% if(currentUser && campground.author.id.equals(currentUser._id)) {%>
        <p><em>Submitted by you</em></p>
        <% } else {%>
        <p><em>Submitted by <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a></em></p>
        <% }%>
        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) {%>
        <a class="btn btn-sm btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
        <form class="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% }%>
      </div>
    </div>
    <div class="thumbnail">
      <div class="caption-full">
        <% if (campground.rating === 0) { %>
        <h5>
          <em>No reviews yet</em>
        </h5>
        <% } else { %>
        <p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
          <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
          <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
          <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
          <em>(total reviews: <%= campground.reviews.length %>)</em>
        </p>
        <p>
          Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
        </p>
        <p>
        <h4>Latest reviews for this campground:</h4>
        </p>
        <hr style="margin-top: 0;">
        <% campground.reviews.slice(0, 5).forEach(function(review){ %>
        <div class="row">
          <div class="col-md-3">
            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
            <div>Review by: <strong><%= review.author.username %></strong></div>
            <span><em><%= review.updatedAt.toDateString() %></em></span>
          </div>
          <div class="col-md-9">
            <p style="text-align: justify; word-wrap: break-word;">
              <%= review.text %>
            </p>
            <% if(currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit">Edit</a>
            <form class="delete-form2" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
              <input type="submit" class="btn btn-xs btn-danger" value="Delete">
            </form>
            <% } %>
          </div>
        </div>
        <hr>
        <% }); %>
        <div style="margin-bottom: 10px;">
          <h4><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
        </div>
        <% } %>
        <div>
          <a class="btn btn-primary btn-lg <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new">
            Write a New Review</a>
        </div>
      </div>
    </div>

    <div class="well">
      <div class="text-right">
        <a></a>
        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
      </div>
      <hr>

      <% campground.comments.forEach((comment) => { %>
      <div class="row">
        <div class="col-md-12">
          <strong><%= comment.author.username %></strong>
          <span class="pull-right">10 days ago</span>
          <div class="">
            <%= comment.text %>
            <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) {%>
            <div class="pull-right">
              <a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-warning">
                Edit
              </a>
              <form class="delete-form2" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
                <button class="btn btn-xs btn-danger">Delete</button>
              </form>
            </div>
            <% } %>
            <hr>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<%- include("../partials/footer"); %>