html, body {
  /* background: linear-gradient(135deg, #CFF, #80fe54); */
  /* margin: 0; */
  /* height: 100%; */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.btn:hover {
  transform: scale(1.05);
}

.thumbnail img {
  width: 100%;
}

.thumbnail-css img {
  width: 330px;
  height: 210px;
  padding: 5%;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
  float: right;
}

.delete-form2 {
  display: inline-block;
}

.checked {
  color: orange;
}
