<%- include("../partials/header"); %>
<% var name = user.firstName %>
<% const firstName = name.charAt(0).toUpperCase() + name.slice(1) %>
<% var name = user.lastName %>
<% const lastName = name.charAt(0).toUpperCase() + name.slice(1) %>

<div class="row">
  <h1><%= firstName + " " + lastName %></h1>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="<%= user.avatar %>" alt="user profile image">
      <div class="caption"><i class="fa fa-at"></i> <a href="mailto:<%= user.email %>"> <%= user.email %></a></div>
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nesciunt, harum at rem quibusdam nisi dolor rerum voluptates labore consectetur, velit optio expedita animi! Ut modi error deleniti voluptas eos, officia earum soluta amet,
    maiores praesentium. Nesciunt, pariatur quam repellat ex harum eius eos, obcaecati, laudantium rem dolorum ratione omnis.
  </div>
  <div class="col-md-8">

    <h3><%= user.username %>'s campgrounds</h3>
    <i class="fa fa-hand-point-down"></i>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% campgrounds.forEach((campground) => { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= campground.image %>" alt="campground image">
          <div class="caption">
            <h4><%=campground.name%></h4>
            <% if (campground.rating === 0) { %>
            <em>No reviews yet</em>
            <% } else { %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
            <% } %>
          </div>
          <p>
            <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">More info</a>
          </p>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<%- include("../partials/footer"); %>